body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
}

.heading2 {
    font-size: 3.2rem;
    font-weight: var(--fw-bold);
    color: var(--color-very-dark-desaturated-blue);
}

.faq__question {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.3rem;
    color: var(--color-very-dark-grayish-blue);

    &:hover {
        color: var(--color-soft-red);
    }

    &.accordion__btn--active {
        font-weight: var(--fw-bold);
        color: var(--color-very-dark-desaturated-blue);
    }

    @media only screen and (min-width: $bp-desktop) {
        font-size: 1.4rem;
    }
}

.faq__answer {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--color-dark-grayish-blue);
}